<h1>Toko Kaki Bola</h1>

<h5>NPM: </h5>
<p>{{ npm }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<a href="{% url 'main:create_product' %}">
  <button>+ Add Product</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
<hr>

<a href="?filter=all">
    <button type="button">All Articles</button>
</a>
<a href="?filter=my">
    <button type="button">My Articles</button>
</a> 

<hr>

{% if not product_list %}
<p>Belum ada Product yang di list.</p>
{% else %}

{% for product in product_list %}
<div>
  <h2><a href="{% url 'main:show_product' product.name %}">{{ product.name }}</a></h2>

  {% if product.is_featured %}
    <p><b>Featured</b></p>
  {% endif %}

  <p>Harga : {{ product.price }}</p>
  
  <p>Created at: {{ product.created_at|date:"d M Y H:i" }}</p>

  {% if product.thumbnail %}
    <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
    <br />
  {% endif %}

  <p>{{ product.description|truncatewords:25 }}...</p>

  <p><a href="{% url 'main:show_product' product.name %}"><button>Read More</button></a></p>
</div>

<hr>
{% endfor %}

{% endif %}